[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiomysql = "==0.2.0"
pre-commit = "*"

[dev-packages]
pre-commit = "==3.7.0"
isort = "==5.13.2"
black = "==24.3.0"
mypy = "==1.9.0"
pytest = "==8.1.1"
pytest-asyncio = "*"
anyio = "*"

[requires]
python_version = "3.12"
